.htaccess
.buildpath
.settings/
.project
application/.htaccess
application/cache/
application/config/config.php
application/config/database.php
application/controllers/examples2.php
application/controllers/welcome.php
application/views/example2.php
application/views/welcome_message.php
application/views/errors/*
assets/uploads/files/!index.html
license.txt

.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/index.php

###SublimeText###

# SublimeText project files
*.sublime-workspace
*.sublime-project